a {
	color: #4595D1;
}
a:hover, a:focus {
	color: #194E82;
}
.navbar-default {
	background-color: #194E82;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #4595D1;
}
